.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2000;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.cart {
  width: 70%;
  max-height: 80vh;
  max-width: 500px;
  user-select: none;
  overflow: auto;
}
.cart::-webkit-scrollbar {
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
  width: 10px;
}
.cart::-webkit-scrollbar-thumb {
  background-color: rgb(117, 117, 117);
  border-radius: 10px;
}
.cart .totalamountwrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.totalamountwrapper h3 {
  font-weight: 900;
}
.order button {
  padding: 0.4rem 0.8rem;
  margin-left: 1rem;
  border: 1px solid var(--fifth-color);
  color: var(--fifth-color);
  border-radius: 3px;
  margin-top: 1rem;
  cursor: pointer;
}
.order :nth-child(3) {
  background-color: var(--fifth-color);
  color: white;
}
.order h3 {
  text-align: right;
}
.show {
  display: flex;
}
