@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
:root {
  --first-color: #9aa8a8;
  --second-color: #466a44;
  --third-color: #e0d5be;
  --forth-color: #e0908d;
  --fifth-color: #c7495c;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 1500px) {
  html {
    font-size: 20px;
  }
}
